extends layout

block content
  h1= title
  form#formAddUser(name="add-user",method="post",action="/users")
    input#inputUserName(type="text", placeholder="Username", name="username")
    input#inputUserEmail(type="text", placeholder="Email", name="email")
    button#btnSubmit(type="submit") submit
